# Ignore everything
**

# ... except for dependencies and source
!costemailer/
!LICENSE
!Pipfile
!Pipfile.lock
!send_email.py

# keep the test files out of the final image
**/*test*
**/__pycache__
**/*.log
